<h1>{{dateFormatted}}</h1>
<div class="container text-end mt-3">
   <button class="btn btn-success" routerLink="/data">Show Record</button>
</div>
<div class="container mt-5">
    <form [formGroup]="submitForm">
    <div class="row">
    <div class="mb-3 col-md-4">
      <label for="exampleInputEmail1" class="form-label font-weight-bold fs-4">First Name</label>
      <input type="text" class="form-control" formControlName="firstname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="john">
      <span class="text-danger" *ngIf="firstName?.errors?.['required'] && firstName?.touched">* required field</span>
    </div>
    <div class="mb-3 col-md-4">
      <label for="exampleInputPassword1" class="form-label font-weight-bold fs-4">Last Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="lastname" placeholder="smith">
    </div>
    <div class="mb-3 col-md-4">
        <label for="exampleInputPassword1" class="form-label font-weight-bold fs-4">Father's Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="fathersname" placeholder="Mr.Smith ">
      </div>
      <div class="col-md-4 ">
        <label for="exampleInputPassword1" class="form-label font-weight-bold fs-4">Select Course</label> 
         <select class="form-select" formControlName="course">
            <option value="" selected>Select Course</option>
            <option value="MCA">MCA</option>
            <option value="BCA">BCA</option>
            <option value="B.TECH">B.TECH</option>
         </select>
      </div>
      <div class="col-md-4 ">
        <label for="exampleInputPassword1" class="form-label font-weight-bold fs-4">Select Section</label> 
         <select class="form-select" formControlName="section">
            <option value="" selected>Select Section</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
         </select>
      </div>
      <div class="mb-3 col-md-4">
       <label for="rollno" class="form-label font-weight-bold fs-4">Roll number</label>
       <input type="text" class="form-control" formControlName="rollno" placeholder="Roll Number">
      </div>
      <div class="my-3 col-md-3">
      <button type="button" class="btn btn-info" (click)="onClick()">Add Subject</button>
     </div>
      <h3>Subject Details</h3>
      <div formArrayName="subject">
      <div *ngFor="let item of subjectArray?.controls; let i=index" [formGroupName]="i">
        <div class="row border p-4 sub">
          <p>SUBJECT {{i+1}}</p>
          <div class="mb-3 col-md-3 ">
              <label for="exampleInputEmail1" class="form-label font-weight-bold fs-4">Subject Name</label>
              <input type="text" class="form-control" formControlName="subjectname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="subject name">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label font-weight-bold fs-4">Language</label> 
               <select class="form-select" formControlName="language">
                  <option value="" selected>Select Language</option>
                  <option value="engish">English</option>
                  <option value="french">French</option>
                  <option value="hindi">Hindi</option>
                  <option value="punjabi">Punjabi</option>
               </select>
            </div>
            <div class="col-md-3">
              <label for="exampleInputEmail1" class="form-label font-weight-bold fs-4">Book Name</label>
              <input type="text" class="form-control" formControlName="bookname" placeholder="book name">
            </div >
            <div *ngIf="i>0" class="col-md-2 mt-5">
              <button class="btn btn-danger" (click)="removeMe(i)">remove</button>
            </div>
            <div class="col-md-3" style="margin-top: 40px;">
               
            </div>
       </div>
      </div>
      </div>
    <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()" [disabled]="!submitForm.valid">Submit</button>
  </div>
  
  </form>
  
  </div>
  
  
  